<div class="header_and_footer">
  <div id="footer">
    <a href="https://github.com/next-l/zukan">Next-L Zukan <%= Zukan::VERSION %></a>,
    an open source authority data management system
  </div>
</div>
